* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Gotham Rounded;
	font-size: 20px;
}



/* ---------- HEADER ----------- */



header {
	display: flex;
	justify-content: flex-end;
	background-color: #fff;
	box-shadow: 0 2px #E0E0E0;
	position: fixed;
	top: 0;
	width: 100%;
}




/* ---------- CONTAINER ----------- */



container {
	display: flex;
	min-height: 815px;
	margin-top: 41px;
}



aside#rightCol {
	flex: 0;
}


aside#leftCol {
	flex: 0;
	text-align: center;
	border-right: 1px solid black;
}


content#main {
	flex: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
	background-image: url("../images/autumn2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	align-items: stretch;
	width: 700px;
}





/* ---------- HEADER NAVIGATION ----------- */



header nav {
	vertical-align: center;
}

header nav ul li {
	list-style: none;
	margin: 15px;
	display: inline;
	line-height: 40px;
	vertical-align: middle;

}

header nav ul li a {
	text-decoration: none;
	color: black;
}

header nav ul li a:hover {
	background-color: #db2b14;
	color: #fff;
}

.navIcon img {
	display: inline-block;
	width: 20px;
	height: 20px;
}




/* ---------- MAIN CONTENT ----------- */



div#quiz-button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
}


div#question {
	font-size: 30px;
	text-align: center;
}


/* ---------- BUTTONS ----------- */

.btn-topic {
	min-width: 80%;
	min-height: 70px;
	text-align: center;
	line-height: 70px;
}



#quiz-container {
	width: 100%;
	border: 1px solid red;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
}

div#answer-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px 0;
}

/*
.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
	margin: 20px 0;
}
*/


.btn {
	background-color: maroon;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	outline: none;
	color: white;
	cursor: pointer;
}

.correct {
	background-color: green;
	color: white;
}

.wrong {
	background-color: red;
	color: white;
}

.btn:hover {
	border: 2px solid pink;
}

.start-btn, .next-btn {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 20px;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}

a {
	color: white;
}





/* ---------- FOOTER ----------- */



footer {
	min-height: 75px;
	width: 100%;
	display: flex;
	border-top: 2px solid #E0E0E0;
}

footer > * {
	margin: auto;
}





/* ---------- ADDITION PAGE ----------- */




.gameButtons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px 20px
}

.btnGame {
	width: 200px;
	height: 160px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	background-color: #80A000;  /*  Maroon  */
	color: #fff;
	text-align: center;
	box-shadow: 5px 5px #000;
}

.btnGame:hover {
	cursor: pointer;
	background-color: #FF0000;
}








/* ---------- OLD LEFT COL 

.ulVertical {
	color: blue;
	margin: 20px;
	list-style: none;
}

.ulVertical li {
	margin-bottom: 10px;
}

.ulVertical li a {
	text-decoration: none;
	pointer: cursor;
}

.ulVertical li a:hover {
	background-color: yellow;
}

.mathIcon {
	font-size: 1.5em;
	border: 1px solid blue;
	border-radius: 5px;
	margin-right: 10px;
	font-weight: bold;
	padding: 0 10px;
	background-color: #00BFFF;
	color: #fff;
}


----------- */




/* ---------- MEDIA QUERY ----------- */
/* ---------- MEDIA QUERY ----------- */
/* ---------- MEDIA QUERY ----------- */




@media (min-width: 750px) {

	aside#rightCol {
		flex: 1;
	}

	aside#leftCol {
		flex: 1;
	}

	content#main {
		flex: 2;
		flex-direction: row;
		align-items: center;

	}		


	/* ---------- MAIN CONTENT ----------- */

	#quiz-container {
		width: 800px;
		max-width: 80%;
		border: 1px solid red;
		background-color: white;
		border-radius: 5px;
		padding: 10px;
		box-shadow: 0 0 10px 2px;
	}

	div#quiz-button-container {
		flex-direction: row;
	}


	/* ---------- BUTTONS ----------- */

	.btn-topic {
		min-width: 150px;
	}

	div#answer-buttons {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: 10px;
		margin: 20px 0;
	}



}






